name: Python checks

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * 1
  workflow_dispatch:

permissions: read-all

jobs:
  lint:
    uses: bmos/bmos/.github/workflows/python-lint.yml@main
    secrets: inherit
    with:
      src_folder: "src"
      python_version: "3.13"
    permissions:
      # Write
      contents: write
      security-events: write

  test:
    uses: bmos/bmos/.github/workflows/python-test.yml@main
    needs: lint
    secrets: inherit
    with:
      src_folder: "src"
      test_folder: "tests"
      python_version: "['3.11', '3.12', '3.13', '3.14']"
    permissions:
      # Write
      contents: write
      pull-requests: write
