name: Python checks

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * 1
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  security-events: write

jobs:
  full-pipeline:
    uses: bmos/bmos/.github/workflows/python-ci.yml@main
    secrets: inherit
    with:
      src_folder: "src"
      test_folder: "tests"
