name: Python checks

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * 1
  workflow_dispatch:

permissions:
  # Write
  contents: write
  id-token: write
  pull-requests: write
  security-events: write
  # Read
  actions: read
  artifact-metadata: read
  attestations: read
  checks: read
  deployments: read
  discussions: read
  issues: read
  models: read
  packages: read
  pages: read
  repository-projects: read
  statuses: read

jobs:
  lint:
    uses: bmos/bmos/.github/workflows/python-lint.yml@main
    secrets: inherit
    with:
      src_folder: "src"
      python_version: "3.13"

  test:
    uses: bmos/bmos/.github/workflows/python-test.yml@main
    needs: lint
    secrets: inherit
    with:
      src_folder: "src"
      test_folder: "tests"
      python_version: "['3.11', '3.12', '3.13', '3.14']"
